{% extends "account-base.html" %}
{% load static %}

{% block title %}change profile icon | Poll App{% endblock title %}

{% block body %}
    <div class="m-5">
        <div class="p-5 bg-white bg-opacity-25 rounded-3">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="text-center">
                    <h2>Change Profile Icon</h2>
                </div>
                <div class="mt-5 text-center">
                    {% if User.icon %}
                        <img src="/media/{{ User.icon }}" alt="usericon" height="100" width="100">
                    {% else %}
                        <img src="{% static 'Feed/images/defaultUser.png' %}" alt="usericon" height="100" width="100">
                    {% endif %}
                    <h3>Current User Icon</h3>
                </div>
                <div class="mt-5">
                    <label for="uploadedicon">Upload a new one</label>
                    <input class="btn btn-lg col-12" type="file" name="uploadedicon" id="uploadedicon" accept="image/*" required>
                </div>
                <div class="mt-5 text-center">
                    <button type="submit" class="btn btn-lg col-12 btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
