{% extends "base.html" %}

{% load static %}

{% block title %} Home | Poll App {% endblock title %}

{% block body %}
    {% include "navbar.html" %}
{% endblock body %}

{% block mainBody %}
    <!-- main body starts here -->
    <div class="container border-1 border-end border-start">
        {% for poll in polls %}
            <div class="container border border-5 rounded-2 mb-5">
            <!-- head of feed -->
                <div class="container icons d-flex border rounded-5 mt-1">
                    <a href="#user">
                        {% if poll.pub_user.icon %}
                            <img src="/media/{{ poll.pub_user.icon }}" alt="userAccount">
                        {% else %}
                            <img src="{% static 'Feed/images/defaultUser.png' %}" alt="userAccount">
                        {% endif %}
                    </a>
                    <h3>@{{ poll.pub_user.username }}</h3>
                </div>
                <!-- body of feed -->
                <div class="container">
                    <!-- Question part -->
                    <h4 class="pt-2">{{ poll.poll_text }}</h4>
                    <!-- Poll part -->
                    <form id="{{ poll.uuid }}" action="{% url 'poll' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="uuid" type="hidden" value="{{ poll.uuid }}" hidden>
                    <div class="pt-3 pb-3">
                        {% for option in poll.options.all %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="RadioBtn" id="flexRadioDefault{{ option.pk }}" value="{{ option.pk }}" required>
                                <label class="form-check-label" for="flexRadioDefault{{ option.pk }}">
                                    {{ option.option_text }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="d-flex pb-4 justify-content-evenly gap-2">
                        <button type="submit" class="btn btn-primary col-5 ">
                            <span><i class="fas fa-vote-yea"></i></span>
                            Vote
                        </button>
                        <a href="{% url 'results' %}{{ poll.uuid }}" type="button" class="btn btn-secondary col-auto col-lg-2">
                            <span><i class="fas fa-poll-h"></i></span>
                            Results
                        </a>
                        <button type="button" onclick="shareLink('{{ poll.poll_text }}', '/Poll/{{ poll.uuid }}')" class="btn btn-secondary col-auto col-lg-2">
                            <span><i class="fas fa-share"></i></span>
                            Share
                        </button>
                    </div>
                    <div id="alert-{{ poll.uuid }}"></div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock mainBody %}

{% block script %}
    <script type="text/javascript" src="{% static 'Feed/src/customFormPost.js' %}"></script>
{% endblock script %}