{% extends "base.html" %}

{% block title %} Home | Poll App {% endblock title %}

{% block body %}
    {% include "Feed/navbar.html" %}
{% endblock body %}

{% block mainBody %}
    <!-- main body starts here -->
    <div id="mainBody" class="container border-1 border-end border-start">

        <!-- feed no.1 -->
        <div class="container border border-5 rounded-2 mb-4">
        <!-- head of feed -->
        <div class="container icons d-flex border rounded-5">
            <a href="#user"><img src="media/Feed/images/defaultUser.png" alt="userAccount"></a>
            <h3>Name of user</h3>
        </div>
        <!-- body of feed -->
        <div class="container">
            <!-- Question part -->
            <h4 class="pt-2">How are you guys?</h4>
            <!-- Poll part -->
            <form action="">
            <div class="pt-3 pb-3">
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
                </div>
            </div>
            </form>
        </div>
        </div>
        <!-- feed no.2 -->
        <div class="container border border-5 rounded-2 mb-4">
        <!-- head of feed -->
        <div class="container icons d-flex border rounded-5">
            <a href="#user"><img src="media/Feed/images/defaultUser.png" alt="userAccount"></a>
            <h3>Name of user</h3>
        </div>
        <!-- body of feed -->
        <div class="container">
            <!-- Question part -->
            <h4 class="pt-2">How are you guys?</h4>
            <!-- Poll part -->
            <form action="">
            <div class="pt-3 pb-3">
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
                </div>
            </div>
            </form>
        </div>
        </div>
        <!-- feed no.3 -->
        <div class="container border border-5 rounded-2 mb-4">
        <!-- head of feed -->
        <div class="container icons d-flex border rounded-5">
            <a href="#user"><img src="media/Feed/images/defaultUser.png" alt="userAccount"></a>
            <h3>Name of user</h3>
        </div>
        <!-- body of feed -->
        <div class="container">
            <!-- Question part -->
            <h4 class="pt-2">How are you guys?</h4>
            <!-- Poll part -->
            <form action="">
            <div class="pt-3 pb-3">
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
                </div>
            </div>
            </form>
        </div>
        </div>
        <!-- feed no.4 -->
        <div class="container border border-5 rounded-2 mb-4">
        <!-- head of feed -->
        <div class="container icons d-flex border rounded-5">
            <a href="#user"><img src="media/Feed/images/defaultUser.png" alt="userAccount"></a>
            <h3>Name of user</h3>
        </div>
        <!-- body of feed -->
        <div class="container">
            <!-- Question part -->
            <h4 class="pt-2">How are you guys?</h4>
            <!-- Poll part -->
            <form action="">
            <div class="pt-3 pb-3">
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
                </div>
            </div>
            </form>
        </div>
        </div>
        <!-- feed no.5 -->
        <div class="container border border-5 rounded-2 mb-4">
        <!-- head of feed -->
        <div class="container icons d-flex border rounded-5">
            <a href="#user"><img src="media/Feed/images/defaultUser.png" alt="userAccount"></a>
            <h3>Name of user</h3>
        </div>
        <!-- body of feed -->
        <div class="container">
            <!-- Question part -->
            <h4 class="pt-2">How are you guys?</h4>
            <!-- Poll part -->
            <form action="">
            <div class="pt-3 pb-3">
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
                </div>
            </div>
            </form>
        </div>
        </div>
        <!-- feed no.6 -->
        <div class="container border border-5 rounded-2 mb-4">
        <!-- head of feed -->
        <div class="container icons d-flex border rounded-5">
            <a href="#user"><img src="media/Feed/images/defaultUser.png" alt="userAccount"></a>
            <h3>Name of user</h3>
        </div>
        <!-- body of feed -->
        <div class="container">
            <!-- Question part -->
            <h4 class="pt-2">How are you guys?</h4>
            <!-- Poll part -->
            <form action="">
            <div class="pt-3 pb-3">
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
                </div>
            </div>
            </form>
        </div>
        </div>
    
    </div>
{% endblock mainBody %}